<template>
  <div>
    <banner :title="'Contact Us'"></banner>
    <section class="site-section bg-light">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h2 class="mb-4" style="font-weight: 500;">Contact Information</h2>
            <p style="color: #00000060; margin: 5px;">
              Ayat train station in front of Commercial
              Bank of Ethiopia
            </p>
            <p style="color: #00000060; margin: 5px;">Support: +251922008888 / +251919837910</p>
            <p style="color: #00000060; margin: 5px;">asiye0220@yahoo.com</p>
          </div>
          <div class="col-md-12 mt-4">
            <h2 class="mb-4" style="font-weight: 500;">Get in touch</h2>
            <p>We're here to help and answer any questions you might have. We look forward to hearing from you.</p>
            <form @submit.prevent="submitContact">
              <div class="row">
                <div class="col-md-4 form-group">
                  <label for="name">Name</label>
                  <input
                    type="text"
                    id="name"
                    placeholder="Fullname"
                    v-model="name"
                    required
                    class="form-control"
                  />
                </div>
                <div class="col-md-4 form-group">
                  <label for="subject">Subject</label>
                  <input
                    type="text"
                    id="subject"
                    placeholder="Subject"
                    v-model="subject"
                    required
                    class="form-control"
                  />
                </div>
                <div class="col-md-4 form-group">
                  <label for="email">Email</label>
                  <input
                    type="email"
                    id="email"
                    required
                    placeholder="email"
                    v-model="email"
                    class="form-control"
                  />
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 form-group">
                  <label for="message">Write Message</label>
                  <textarea
                    name="message"
                    id="message"
                    v-model="message"
                    class="form-control"
                    placeholder="Message"
                    required
                    cols="30"
                    rows="8"
                  ></textarea>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 form-group">
                  <button
                    type="submit"
                    style="cursor: pointer;"
                    :disabled="isLoading"
                    class="btn btn-primary"
                  >
                    Send Message
                    <div class="loadingio-spinner-rolling-tzvst9c5hih" v-show="isLoading">
                      <div class="ldio-wuo78rgs89">
                        <div></div>
                      </div>
                    </div>
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
    <footer_comp></footer_comp>
  </div>
</template>

<script>
import banner from "../components/banner";
import footer_comp from "../components/index/Footer";
import api from "../api";
export default {
  components: {
    banner,
    footer_comp
  },
  data() {
    return {
      name: null,
      email: null,
      subject: null,
      message: null,
      isLoading: false
    };
  },
  methods: {
    clearForm() {
      this.name = null;
      this.email = null;
      this.subject = null;
      this.message = null;
    },
    submitContact() {
      this.isLoading = true;
      const baseURI = "/send_email.php";
      api
        .post(baseURI, {
          name: this.name,
          email: this.email,
          subject: this.subject,
          message: this.message
        })
        .then(response => {
          this.isLoading = false;
          this.clearForm();
          if (response.data.success) {
            this.$awn.success("Message is successfully sent!");
          } else {
            this.$awn.alert("Sorry! an error has occured! please try again!");
          }
        })
        .catch(error => {
          this.isLoading = false;
          console.log(error);
          this.$awn.success("Message is successfully sent!");
          this.clearForm();
        });
    }
  }
};
</script>

<style type="text/css">
@keyframes ldio-wuo78rgs89 {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
.ldio-wuo78rgs89 div {
  position: absolute;
  width: 14px;
  height: 14px;
  border: 1px solid #ffffff;
  border-top-color: transparent;
  border-radius: 50%;
}
.ldio-wuo78rgs89 div {
  animation: ldio-wuo78rgs89 1s linear infinite;
  top: 12px;
  left: 10px;
}
.loadingio-spinner-rolling-tzvst9c5hih {
  width: 20px;
  height: 20px;
  display: inline-block;
  overflow: hidden;
  background: none;
}
.ldio-wuo78rgs89 {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-wuo78rgs89 div {
  box-sizing: content-box;
}
/* generated by https://loading.io/ */
</style>