<template>
  <section
    class="site-hero overlay"
    data-stellar-background-ratio="0.5"
    :style="'background-image: url(' + home_main_img + ');'"
  >
    <div class="container">
      <div class="row align-items-center site-hero-inner justify-content-center">
        <div class="col-md-8 text-center">
          <div class="mb-5">
            <h1>Learn From Doing</h1>
            <p
              class="lead"
            >Learn something new every day with Bridge Business and Technology College.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
// @ is an alias to /src
export default {
  name: "Home",
  data() {
    return {
      home_main_img: "/images/big_image_4.jpg"
    };
  }
};
</script>
