<template>
  <section
    class="site-hero site-hero-innerpage overlay"
    data-stellar-background-ratio="0.5"
    style="background-image: url(/images/img1.jpg); filter: grayscale(100%)"
  >
    <div class="container">
      <div class="row align-items-center site-hero-inner justify-content-center">
        <div class="col-md-8 text-center">
          <div class="mb-5">
            <h1>{{ title }}</h1>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  props: ["title"],
  data() {
    return {};
  }
};
</script>

<style>
</style>