<template>
  <transition name="fade">
    <div class="full-bodi" v-show="show">
      <div class="loaderly">
        <span class="load_span">L</span>
        <span class="load_span">O</span>
        <span class="load_span">A</span>
        <span class="load_span">D</span>
        <span class="load_span">I</span>
        <span class="load_span">N</span>
        <span class="load_span">G</span>

        <div class="covers">
          <span class="load_span"></span>
          <span class="load_span"></span>
          <span class="load_span"></span>
          <span class="load_span"></span>
          <span class="load_span"></span>
          <span class="load_span"></span>
          <span class="load_span"></span>
        </div>
      </div>
    </div>
  </transition>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  name: "LoadingComponent",
  data() {
    return {
      show: false
    };
  },
  computed: mapGetters(["getLoading"]),
  created() {
    this.start();
  },
  methods: {
    showProgress(show) {
      this.show = show;
    },
    start() {
      this.showProgress(true);
    },
    stop() {
      setTimeout(() => {
        this.showProgress(false);
      }, 250);
    }
  },
  watch: {
    getLoading(newValue) {
      if (!newValue) {
        this.stop();
      } else {
        this.start();
      }
    }
  }
};
</script>

<style>
.fade-enter-active,
.fade-leave-active {
  transition: opacity 1s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

.full-bodi {
  padding-top: 10em;
  text-align: center;
  position: fixed;
  box-sizing: border-box !important;
  overflow: hidden !important;
  left: 0;
  top: 0;
  z-index: 999;
  background: #fff;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loaderly {
  position: relative;
  margin: auto;
  width: 350px;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 250%;
  background: linear-gradient(180deg, #222 0, #444 100%);
  box-shadow: inset 0 5px 20px black;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

.loaderly:after {
  content: "";
  display: table;
  clear: both;
}

.load_span {
  float: left;
  height: 100px;
  line-height: 120px;
  width: 50px;
}

.loaderly > .load_span {
  border-left: 1px solid #444;
  border-right: 1px solid #222;
}

.covers {
  position: absolute;
  height: 100%;
  width: 100%;
}

.covers .load_span {
  background: linear-gradient(180deg, white 0, #fff 100%);
  animation: up 2s infinite;
}

@keyframes up {
  0% {
    margin-bottom: 0;
  }
  16% {
    margin-bottom: 100%;
    height: 20px;
  }
  50% {
    margin-bottom: 0;
  }
  100% {
    margin-bottom: 0;
  }
}

.covers .load_span:nth-child(2) {
  animation-delay: 0.142857s;
}
.covers .load_span:nth-child(3) {
  animation-delay: 0.285714s;
}
.covers .load_span:nth-child(4) {
  animation-delay: 0.428571s;
}
.covers .load_span:nth-child(5) {
  animation-delay: 0.571428s;
}
.covers .load_span:nth-child(6) {
  animation-delay: 0.714285s;
}
.covers .load_span:nth-child(7) {
  animation-delay: 0.857142s;
}
</style>
