<template>
  <div>
    <banner :title="'Goals and Values'"></banner>
    <section class="site-section bg-light">
      <div class="container">
        <div class="row mb-5 align-items-center">
          <div class="col-md-12 overflow order-1">
            <h2 class="mb-4" style="font-weight: 500;">Our Goal</h2>
            <p>
              In order to meet and exceed the quality and standard requirements of students,
              trainees and stakeholders, the goals of BBTC are to:
            </p>
            <table class="table table-striped">
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>
                    create a competent, motivated, adaptable and innovative workforce for the
                    country which can contribute to poverty reduction and social and economic
                    development through facilitating demand-driven, high quality technical and
                    vocational education and training, relevant to all sectors of the economy;
                  </td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>promote the entrepreneurial development plans of the country</td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td>offer research-led diversified programs that are relevant to the country;</td>
                </tr>
                <tr>
                  <th scope="row">4</th>
                  <td>
                    prepare trainees with the necessary knowledge, skill and attitude so that they
                    can fit for purpose;
                  </td>
                </tr>
                <tr>
                  <th scope="row">5</th>
                  <td>undertake research on local, national and international issues and problems;</td>
                </tr>
                <tr>
                  <th scope="row">6</th>
                  <td>Create national and international link.</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <!-- <div class="col-md-1 order-2"></div- -->
        <div class="row align-items-center">
          <div class="col-md-12 order-3">
            <h2 class="mb-4" style="font-weight: 500;">Our Values</h2>
            <p>
              Bridge Business and Technology College has committed itself to promote the
              following organizational and individual values both at institutional level and
              among its staffs.
            </p>
            <h6 class="mb-4 mt-4" style="text-transform: uppercase;">1. Organizational Values</h6>
            <table class="table">
              <tbody>
                <tr>
                  <td>- Quality</td>
                  <td>- Diversification</td>
                </tr>
                <tr>
                  <td>- Excellence</td>
                  <td>- Expansion</td>
                </tr>
                <tr>
                  <td>- Secularity</td>
                  <td>- Involvement</td>
                </tr>
                <tr>
                  <td>- Equity</td>
                  <td>- Collaboration</td>
                </tr>
                <tr>
                  <td>- Gender Sensitivity</td>
                  <td>- Transparency</td>
                </tr>
                <tr>
                  <td>- Reliable Partnership</td>
                  <td>- Decisiveness</td>
                </tr>
                <tr>
                  <td>- Academic Freedom</td>
                  <td>- Accountability</td>
                </tr>
                <tr>
                  <td>- Efficiency</td>
                  <td>- Responsiveness</td>
                </tr>
              </tbody>
            </table>
            <h6 class="mb-4 mt-4" style="text-transform: uppercase;">2. Individual Values</h6>
            <table class="table">
              <tbody>
                <tr>
                  <td>- Honesty</td>
                  <td>- Innovativeness / Creativity</td>
                </tr>
                <tr>
                  <td>- Confidentiality</td>
                  <td>- Self initiation</td>
                </tr>
                <tr>
                  <td>- Loyalty</td>
                  <td>- Competence</td>
                </tr>
                <tr>
                  <td>- Problem Solving</td>
                  <td>- Collaboration</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </section>
    <!-- END section -->

    <footer_comp></footer_comp>
  </div>
</template>

<script>
import banner from "../../components/banner";
import footer_comp from "../../components/index/Footer";
export default {
  components: {
    banner,
    footer_comp
  }
};
</script>

<style>
</style>