<template>
  <div>
    <banner :title="'Vision and Mission'"></banner>
    <section class="site-section bg-light">
      <div class="container">
        <div class="row mb-5 align-items-center">
          <div class="col-md-12 overflow order-1">
            <h2 class="mb-4" style="font-weight: 500;">Our Vision</h2>
            <p>
              Bridge Business and Technology College envisions being the most reputable
              private higher education institution in Ethiopian by 2017 in terms of outstanding
              quality education, research, training and community development.
            </p>
          </div>
        </div>
        <!-- <div class="col-md-1 order-2"></div> -->
        <div class="row align-items-center">
          <div class="col-md-12 order-3">
            <h2 class="mb-4" style="font-weight: 500;">Our Mission</h2>
            <p>
              Bridge Business and Technology College has the following missions to
              accomplish:
            </p>
            <table class="table table-striped">
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>
                    conduct quality and outcome based training to produce middle level human
                    resource and supply to the industry;
                  </td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>
                    produce competent entrepreneurs who could contribute to the technology
                    transfer Endeavour’s of the country;
                  </td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td>
                    provide quality higher education at all levels with affordable price through
                    regular, continuing and distance education modes so as to produce
                    competent professionals who can support the development Endeavour of
                    the country
                  </td>
                </tr>
                <tr>
                  <th scope="row">4</th>
                  <td>
                    undertake research that helps to solve the socio-economic problems of the
                    country and that can also add new values and knowledge to the society;
                  </td>
                </tr>
                <tr>
                  <th scope="row">5</th>
                  <td>
                    render consultancy and short-term training services to businesses,
                    government and nongovernment organizations to help them accomplish
                    their objectives;
                  </td>
                </tr>
                <tr>
                  <th scope="row">6</th>
                  <td>
                    Render various community services to fulfill social responsibilities expected
                    of is as an academic institution.
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </section>
    <!-- END section -->

    <footer_comp></footer_comp>
  </div>
</template>

<script>
import banner from "../../components/banner";
import footer_comp from "../../components/index/Footer";
export default {
  components: {
    banner,
    footer_comp
  }
};
</script>

<style>
</style>