<template>
  <div>
    <banner :title="'Discipline and Code of Conduct'"></banner>
    <section class="site-section bg-light">
      <div class="container">
        <div class="row mb-5 align-items-center">
          <div class="col-md-12 overflow order-1">
            <h2 class="mb-4" style="font-weight: 500;">Code of Conduct</h2>
            <p>Prohibited Acts include:</p>
            <table class="table table-striped">
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>Physically harming (assaulting, battering or killing) another member of the College community;</td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>Sexually assaulting or sexually harassing another person;</td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td>Bullying, or harassing another person or defaming any member of the BBTC community;</td>
                </tr>
                <tr>
                  <th scope="row">4</th>
                  <td>
                    Possessing, using or storing firearms, explosives, or weapons on BBTC-controlled premises or at BBTC
                    events or programs (unless permitted by the Management);
                  </td>
                </tr>
                <tr>
                  <th scope="row">5</th>
                  <td>Illegally possessing, using, distributing, manufacturing or selling alcoholic beverages or drugs;</td>
                </tr>
                <tr>
                  <th scope="row">6</th>
                  <td>Stealing, vandalizing, damaging, destroying, or defacing BBTC property or the property of others;</td>
                </tr>
                <tr>
                  <th scope="row">7</th>
                  <td>
                    Obstructing or disrupting classes, research works or other activities or programs of BBTC; or obstructing
                    access to BBTC facilities, property or programs;
                  </td>
                </tr>
                <tr>
                  <th scope="row">8</th>
                  <td>Making, possessing or using any falsified BBTC documents or records;</td>
                </tr>
                <tr>
                  <th scope="row">9</th>
                  <td>Violating policies concerning the use of the library, computers or other</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </section>
    <!-- END section -->

    <footer_comp></footer_comp>
  </div>
</template>

<script>
import banner from "../../components/banner";
import footer_comp from "../../components/index/Footer";
export default {
  components: {
    banner,
    footer_comp
  }
};
</script>

<style>
</style>