<template>
  <div>
    <banner :title="'Rights and Responsibilities'"></banner>
    <section class="site-section bg-light">
      <div class="container">
        <div class="row mb-5 align-items-center">
          <div class="col-md-12 overflow order-1">
            <h2 class="mb-4" style="font-weight: 500;">Rights of the Students</h2>
            <p>
              Without prejudice to other provisions of Higher Education Proclamation and other applicable laws,
              students of Bridge Business and Technology College (BBTC) shall have the right to:
            </p>
            <table class="table table-striped">
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>
                    Free inquiry of truth and freedom of expression of ideas and thoughts in the process of learning and
                    conducting research;
                  </td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>
                    Enjoy the freedom to learn with appropriate opportunities and conditions in classrooms, campuses and
                    in the larger community;
                  </td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td>
                    Protection of their constitutional human rights, personal safety, and security of their personal property
                    on campus;
                  </td>
                </tr>
                <tr>
                  <th scope="row">4</th>
                  <td>Be free to express orderly their views on issues of institutional policy;</td>
                </tr>
                <tr>
                  <th scope="row">5</th>
                  <td>Receive protection from any form of discrimination or harassment;</td>
                </tr>
                <tr>
                  <th scope="row">6</th>
                  <td>
                    Be entitled to equitable and fair treatment in all respects of the teacher-student relationship and to an
                    environment conducive to stimulate learning;
                  </td>
                </tr>
                <tr>
                  <th scope="row">7</th>
                  <td>
                    Be evaluated solely on academic basis consistent with norms provided for by HE Proclamation and
                    BBTC’s academic standards, and receive redress against capricious evaluation;
                  </td>
                </tr>
                <tr>
                  <th scope="row">8</th>
                  <td>
                    Participate in a transparent system of performance evaluation of academic staff and academic
                    programs;
                  </td>
                </tr>
                <tr>
                  <th scope="row">9</th>
                  <td>
                    Enjoy the benefits of a carefully considered policy of confidentiality regarding the information that
                    should be part of their permanent educational record and as to the conditions of its disclosure;
                  </td>
                </tr>
                <tr>
                  <th scope="row">10</th>
                  <td>
                    Join the institution's student union, which shall be founded on the principle of universality of
                    membership in accordance with the pertinent laws so as to promote and protect their common
                    interests lawfully;
                  </td>
                </tr>
                <tr>
                  <th scope="row">11</th>
                  <td>
                    Obtain access to facilities of the institution through their union in accordance with the rules and
                    procedures of BBTC;
                  </td>
                </tr>
                <tr>
                  <th scope="row">12</th>
                  <td>
                    Participate, through their union or representatives, in the sessions of the institution's governing bodies
                    in accordance with HE Proclamation and directives issued by the GA;
                  </td>
                </tr>
                <tr>
                  <th scope="row">13</th>
                  <td>
                    Use, under the leadership and guidance of the student union and with the attendant responsibilities,
                    communications media on campus to provide a forum for the free exchange of ideas and to present
                    news, opinion and editorial comments;
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <!-- <div class="col-md-1 order-2"></div> -->
        <div class="row align-items-center">
          <div class="col-md-12 order-3">
            <h2 class="mb-4" style="font-weight: 500;">Student Responsibilities</h2>
            <p>
              Without prejudice to other provisions of the Higher Education Proclamation and other
              applicable laws, any student of BBTC shall have the following responsibilities:
            </p>
            <table class="table table-striped">
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>
                    attend classes properly and respect the indivisible authority of any academic staff in the leadership and
                    management of the teaching-learning process;
                  </td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>maintain standards of academic performance established for each course in which he is enrolled;</td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td>know and uphold the objectives of higher education and the guiding values of the institution;</td>
                </tr>
                <tr>
                  <th scope="row">4</th>
                  <td>
                    respect, in classroom or anywhere in the premises of the institution, the rights of other persons
                    protected by law;
                  </td>
                </tr>
                <tr>
                  <th scope="row">5</th>
                  <td>
                    observe scrupulously the applicable provisions of this Proclamation and the rules of the institution
                    which are consistent with this Proclamation;
                  </td>
                </tr>
                <tr>
                  <th scope="row">6</th>
                  <td>
                    interact with academic and other staff and any other student of the institution with due respect to their
                    constitutional rights;
                  </td>
                </tr>
                <tr>
                  <th scope="row">7</th>
                  <td>refrain from any unlawful act and from any unethical activities;</td>
                </tr>
                <tr>
                  <th scope="row">8</th>
                  <td>
                    complain and seek redress peacefully and through legal avenues in the event student interests, be it
                    individual or collective, are at stake, and exhaust all institutional avenues of redress;
                  </td>
                </tr>
                <tr>
                  <th scope="row">9</th>
                  <td>
                    use and handle the properties of the institution with due care and be held accountable for any damage
                    caused to the property of the institution due to intentional or negligent misuse or destruction;
                  </td>
                </tr>
                <tr>
                  <th scope="row">10</th>
                  <td>
                    Effect payment of fees applicable in accordance with the provisions of this Proclamation for services
                    that has been provided by the institution.
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </section>
    <!-- END section -->

    <footer_comp></footer_comp>
  </div>
</template>

<script>
import banner from "../../components/banner";
import footer_comp from "../../components/index/Footer";
export default {
  components: {
    banner,
    footer_comp
  }
};
</script>

<style>
</style>