<template>
  <div id="app">
    <loading-view></loading-view>
    <header-view></header-view>
    <router-view />
  </div>
</template>

<script>
import HeaderView from "./components/index/Header";
import LoadingView from "./components/Loading";
export default {
  components: {
    HeaderView,
    LoadingView
  }
};
</script>
<style>
#app {
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.router-link-active {
  color: #fff;
}
</style>
