<template>
  <footer
    class="site-footer"
    style="background-image: url(/images/big_image_3.jpg); filter: grayscale(80%)"
  >
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <p class="text-center">
            Copyright &copy;
            {{ date }} All rights reserved | Bridge Business and Technology College
          </p>
        </div>
      </div>
    </div>
  </footer>
</template>

<script>
export default {
  data() {
    return {
      date: new Date().getFullYear()
    };
  }
};
</script>

<style>
</style>