<template>
  <header role="banner">
    <nav class="navbar navbar-expand-md navbar-dark bg-light">
      <div class="container">
        <router-link class="navbar-brand absolute" to="/">Bridge</router-link>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarsExample05"
          aria-controls="navbarsExample05"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse navbar-light" id="navbarsExample05">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item">
              <router-link class="nav-link" to="/">Home</router-link>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                id="dropdown04"
                href="#"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >About Us</a>
              <div class="dropdown-menu" aria-labelledby="dropdown04">
                <router-link class="dropdown-item" to="/about/vision-and-mission">Vision and Mission</router-link>
                <router-link class="dropdown-item" to="/about/goals-and-values">Goals and Values</router-link>
              </div>
            </li>

            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="dropdown05"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >Academics</a>
              <div class="dropdown-menu" aria-labelledby="dropdown05">
                <router-link class="dropdown-item" to="/academics/regular">Regular Program</router-link>
                <router-link class="dropdown-item" to="/academics/extension">Extension Program</router-link>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="dropdown06"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >Student Affairs</a>
              <div class="dropdown-menu" aria-labelledby="dropdown06">
                <router-link
                  class="dropdown-item"
                  to="/student-affair/discipline-and-code-of-conduct"
                >Discipline & Code of Conduct</router-link>
                <router-link
                  class="dropdown-item"
                  to="/student-affair/rights-and-responsibilities"
                >Right & Responsibilities</router-link>
              </div>
            </li>
            <li class="nav-item">
              <router-link class="nav-link" to="/contact-us">Contact</router-link>
            </li>
          </ul>
          <!-- <ul class="navbar-nav absolute-right">
            <li class="nav-item">
              <a href="login.html" class="nav-link">Login</a>
            </li>
            <li class="nav-item">
              <a href="register.html" class="nav-link">Register</a>
            </li>
          </ul>-->
        </div>
      </div>
    </nav>
  </header>
</template>

<script>
export default {};
</script>

<style>
</style>